USE [master]
GO
/****** Object:  Database [GESTION_JARDIN]    Script Date: 11/05/2020 23:49:26 ******/
CREATE DATABASE [GESTION_JARDIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTION_JARDIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTION_JARDIN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTION_JARDIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTION_JARDIN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTION_JARDIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTION_JARDIN]
GO
USE [GESTION_JARDIN]
GO
/****** Object:  Sequence [dbo].[SQ_T_DOMICILIOS]    Script Date: 11/05/2020 23:49:26 ******/
CREATE SEQUENCE [dbo].[SQ_T_DOMICILIOS] 
 AS [numeric](6, 0)
 START WITH 1
 INCREMENT BY 1
 MINVALUE -999999
 MAXVALUE 999999
 CACHE 
GO
USE [GESTION_JARDIN]
GO
/****** Object:  Sequence [dbo].[SQ_T_PERSONAS]    Script Date: 11/05/2020 23:49:26 ******/
CREATE SEQUENCE [dbo].[SQ_T_PERSONAS] 
 AS [numeric](6, 0)
 START WITH 1
 INCREMENT BY 1
 MINVALUE -999999
 MAXVALUE 999999
 CACHE 
GO
/****** Object:  Table [dbo].[T_DOMICILIOS]    Script Date: 11/05/2020 23:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DOMICILIOS](
	[DOM_ID] [int] NOT NULL,
	[DOM_PER_ID] [int] NOT NULL,
	[DOM_CALLE] [varchar](50) NOT NULL,
	[DOM_NUMERO] [int] NOT NULL,
	[DOM_PISO] [int] NULL,
	[DOM_DPTO] [varchar](5) NULL,
	[DOM_BARRIO] [varchar](50) NOT NULL,
	[DOM_CP] [int] NOT NULL,
	[DOM_PROVINCIA] [varchar](50) NOT NULL,
	[DOM_PAIS] [varchar](50) NOT NULL,
	[DOM_TIPO] [varchar](50) NULL,
 CONSTRAINT [PK_T_DOMICILIOS] PRIMARY KEY CLUSTERED 
(
	[DOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PERSONAS]    Script Date: 11/05/2020 23:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PERSONAS](
	[PER_ID] [int] NOT NULL,
	[PER_NOMBRE] [varchar](50) NOT NULL,
	[PER_APELLIDO] [varchar](50) NOT NULL,
	[PER_DOCUMENTO] [int] NOT NULL,
	[PER_GENERO] [varchar](50) NULL,
	[PER_FECHA_NAC] [date] NOT NULL,
	[PER_TELEFONO] [varchar](50) NOT NULL,
	[PER_TELEFONO_2] [varchar](50) NULL,
	[PER_EMAIL] [varchar](50) NULL,
	[PER_TIPO] [varchar](50) NOT NULL,
	[PER_LEGAJO] [varchar](50) NULL,
	[PER_ESTADO] [varchar](50) NOT NULL,
	[PER_FECHA_ALTA] [date] NOT NULL,
	[PER_FECHA_MOD] [date] NULL,
	[PER_FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK_T_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ROLES]    Script Date: 11/05/2020 23:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ROLES](
	[ROL_ID] [int] NOT NULL,
	[ROL_NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_T_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_USUARIOS]    Script Date: 11/05/2020 23:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USUARIOS](
	[USU_ID] [int] NOT NULL,
	[USU_PER_ID] [int] NULL,
	[USU_USUARIO] [varchar](50) NULL,
	[USU_CLAVE] [varchar](50) NULL,
	[USU_ROL_ID] [int] NULL,
	[USU_FECHA_ALTA] [date] NULL,
	[USU_FECHA_MOD] [date] NULL,
	[USU_FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK_T_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_USUARIO] UNIQUE NONCLUSTERED 
(
	[USU_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_DOMICILIOS]  WITH CHECK ADD  CONSTRAINT [FK_T_PERSONAS] FOREIGN KEY([DOM_PER_ID])
REFERENCES [dbo].[T_PERSONAS] ([PER_ID])
GO
ALTER TABLE [dbo].[T_DOMICILIOS] CHECK CONSTRAINT [FK_T_PERSONAS]
GO
ALTER TABLE [dbo].[T_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_T_USUARIOS_T_PERSONAS] FOREIGN KEY([USU_PER_ID])
REFERENCES [dbo].[T_PERSONAS] ([PER_ID])
GO
ALTER TABLE [dbo].[T_USUARIOS] CHECK CONSTRAINT [FK_T_USUARIOS_T_PERSONAS]
GO
ALTER TABLE [dbo].[T_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_T_USUARIOS_T_ROLES] FOREIGN KEY([USU_ROL_ID])
REFERENCES [dbo].[T_ROLES] ([ROL_ID])
GO
ALTER TABLE [dbo].[T_USUARIOS] CHECK CONSTRAINT [FK_T_USUARIOS_T_ROLES]
GO
USE [master]
GO
